In [1]:
print("Hello World")

Hello World

In [2]:
name = 'Vishnu'
userid = 1234

In [5]:
type(name)

str

In [6]:
type(userid)

int

In [7]:
a = 23.45

In [8]:
type(a)

float

In [9]:
a = 23

In [10]:
type(a)

int

In [11]:
b = '1234'

In [12]:
userid

1234

In [13]:
b

'1234'

In [14]:
type(userid)

int

In [15]:
type(b)

str

In [17]:
c = "abc"

In [19]:
b

'1234'

In [20]:
c

'abc'

In [21]:
x, y, z = 123, "Shree" ,45.56

In [25]:
type(x)

int

In [26]:
type(y)

str

In [27]:
type(z)

float

In [28]:
print(x,y,z)

123 Shree 45.56

In [30]:
b

'1234'

In [31]:
d = int(b)

In [32]:
d

1234

In [33]:
type(d)

int

In [34]:
a = True
b = False

In [35]:
a = 23
b=45

In [36]:
a+b

68

In [37]:
a-b

-22

In [38]:
a*b

1035

In [39]:
23+45

68

In [41]:
a+b

68

Concatenation
Mathematical Operations
Functions
user input

In [45]:
a = 23

In [63]:
name = 'Sandesh'

In [55]:
type(name)

str

In [59]:
a = 2 + 3j

In [60]:
type(a)

complex

In [61]:
a.imag

3.0

In [62]:
a.real

2.0

In [64]:
name = 'Sandesh'

In [67]:
#This is the topper of the class

name = 'Vishnu'
userid = 1234

In [69]:
""" 
bjkbjkbjk
 hk
 
"""

'\nbubjk\nnkjnmlnjm \nbn  ijnl okjp;\n\n\n'

In [71]:
#Print the statement : This "test" is not good
print('This "test" is not good')

This "test" is not good

In [72]:
a = 10
b = "yhbnwj ddfs vs"

In [73]:
print(b, a, "Fshkl")

yhbnwj ddfs vs 10 Fshkl

In [75]:
a=10
b=0

In [76]:
a/b

ZeroDivisionError: division by zero

In [77]:
a = 1
b = "Shree"

In [78]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [79]:
'1' + b

'1Shree'

In [81]:
str(a) + b

'1Shree'

In [82]:
b

'Shree'

In [84]:
b*3

'ShreeShreeShree'

In [88]:
b3

NameError: name 'b3' is not defined

In [89]:
print "Shree"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Shree")? (<ipython-input-89-4484eae8aebe>, line 1)

In [90]:
a = 1
b = 1.0

In [91]:
type(b)

float

In [92]:
a+b

2.0

In [101]:
c = int('23')

In [102]:
type(c)

int

In [1]:
a = float(input("Enter your height: "))

Enter your height: 5.9

In [2]:
type(a)

float

In [3]:
a = int(input("this is my var a "))
b = int(input("this is my var b "))
c = int(input("this is my var c "))

this is my var a 25
this is my var b 57
this is my var c 78

In [6]:
m = (a+b)/c

In [7]:
m

1.0512820512820513

In [8]:
n = m + 78 + 6j

In [9]:
n

(79.05128205128206+6j)

In [11]:
str(n) + "sudh"

'(79.05128205128206+6j)sudh'

# First Program

Today we have learnt:

    1. Diff kind of errors
    2. User Input
    3. Single line comment
    4. Multiline comment
    5. String Concatenation
    6. Complex Number
    7. Mathematical Operations
    8. Odd or Even concept using if else

Write a python code to determine whether the number is even or not

In [17]:
a = int(input("Enter a number: "))

if a%2 == 0:
    print("This is even number")

else:
    print("This is odd number")

Enter a number: 80
This is even number